body {
  background-color: black;
}
.logo1 {
  color: #a47864; font-size: 17vmin; font-family: Italianno; display: inline-block;
}
.logo2 {
  color: #a47864; font-size: 13vmin; display: inline-block;
}
.logo3 {
  color: gray; font-size: 9vmin; font-family: Special Elite; display: inline-block;
}
.label-domain {
  color: #a47864; font-family: 'Inter'; font-size: 18px;
} 