p {
  font-family: 'Inter'; font-size: 4vmin;
}
.label-domain {
  color: black; font-family: 'Inter'; font-size: 18px;
} 
.ChildDiv {  
  display: inline-block;
}
a:link {
  color: inherit; text-decoration: none;
}
a:visited {
  color: inherit;
}
.footer-link {
  color: gray;
}
.footer {
  color: gray;
  font-size: 1.5vmin;
  font-family: Inter;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.header {
  font-family: 'Inter';
  font-size: 4vmin;
  text-align: right;
  margin-top: 0;
  padding-top: 0;
}
.italianno-regular {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
}
.special-elite-regular {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}

